In [1]:
#Import Pandas
import pandas as pd
import os 

os.chdir(r"C:\Users\Jeremy\Desktop\Bootcamp\Pandas")
print("Current working directory: {0}".format(os.getcwd()))

#how to change directory in pandas

Current working directory: C:\Users\Jeremy\Desktop\Bootcamp\Pandas

In [2]:
#Declaring Variables
schools_data_to_load = os.path.join('schools_complete.csv')
students_data_to_load = os.path.join('students_complete.csv')

In [3]:
schools_data_df = pd.read_csv(schools_data_to_load)
#schools_data_df.head()
schools_data_df.isnull().sum()

School ID      0
school_name    0
type           0
size           0
budget         0
dtype: int64

In [4]:
students_data_df = pd.read_csv(students_data_to_load)
#students_data_df.head()
students_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [5]:
schools_data_df = pd.read_csv(schools_data_to_load)
schools_data_df.notnull()

    School ID  school_name  type  size  budget
0        True         True  True  True    True
1        True         True  True  True    True
2        True         True  True  True    True
3        True         True  True  True    True
4        True         True  True  True    True
5        True         True  True  True    True
6        True         True  True  True    True
7        True         True  True  True    True
8        True         True  True  True    True
9        True         True  True  True    True
10       True         True  True  True    True
11       True         True  True  True    True
12       True         True  True  True    True
13       True         True  True  True    True
14       True         True  True  True    True

In [6]:
students_data_df = pd.read_csv(students_data_to_load)
students_data_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [7]:
#schools_data_df = pd.read_csv(schools_data_to_load)
schools_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [8]:
students_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [9]:
prefixes_suffixes = ['MD', 'Dr.', 'Miss', 'Mr.', 'Mrs.', 'Ms.', 'DDS', 'DVM', 'PhD']

for word in prefixes_suffixes:
    students_data_df["student_name"] = students_data_df["student_name"].str.replace(word, "")
students_data_df.head(10)

E:\Users\Jeremy\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [11]:
# Combine the data into a single dataset.
schools_data_complete_df = pd.merge(students_data_df, schools_data_df, on=["school_name", "school_name"])
schools_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [12]:
student_count = schools_data_complete_df.count()
student_count

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [14]:
schools_data_complete_df["Student ID"].count()

39170

In [15]:
# Calculate the total number of schools.
school_count = schools_data_df["school_name"].count()
school_count

15

In [16]:
# Calculate the total number of schools
school_count_2 = schools_data_complete_df["school_name"].unique()
school_count_2

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [17]:
#Calculate total budget.
total_budget = schools_data_complete_df["budget"].sum()
total_budget

82932329558

In [18]:
# Calculate the total budget.
total_budget = schools_data_df["budget"].sum()
total_budget

24649428

In [19]:
# Calculate the average reading score.
average_reading_score = schools_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [20]:
# Calculate the average math score.
average_math_score = schools_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [23]:
passing_math = schools_data_complete_df["math_score"] >= 70

passing_math.head()

0     True
1    False
2    False
3    False
4     True
Name: math_score, dtype: bool

In [24]:
passing_reading = schools_data_complete_df["reading_score"] >= 70
passing_reading.head()

0    False
1     True
2     True
3    False
4     True
Name: reading_score, dtype: bool

In [35]:
# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()
print(passing_math_count)

KeyError: 'student_name'

In [30]:
# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()

KeyError: 'student_name'